<h1>Work Experience show </h1>
<h6>work_experience#show </h6>

<h1><%= @work_experience.company%></h1>
<h2><%= @work_experience.start_date %></h2>
<h2><%= @work_experience.end_date %></h2>
<h2>Hello world</h2>